{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="container mt-3">
   <h4>Welcome {{ user.username|capfirst }}</h4>
   <p class="lead text-muted"> Thankyou for becoming a member of our community, find your way round by the tabs below to view bugs and features. Click on the profile logo at the top to view your own bugs or features and if you wish to create any.</p>
    <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="Bug-tab" data-toggle="tab" href="#Bug" role="tab" aria-controls="Bug" aria-selected="true">Bugs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Feature-tab" data-toggle="tab" href="#Feature" role="tab" aria-controls="Feature" aria-selected="false">Features</a>
        </li>
    </ul>

     {% comment %}  <---------- BUGS ----------> {% endcomment %}


    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="Bug" role="tabpanel"    aria-labelledby="Bug-tab">
            <p class="lead text-muted tab-display">
                All the bugs below have been posted by our community that they are currently having issues with and would like help from others in finding a solution. You can choose to upvote this issue or post a comment that will help resolve the bug.
            </p>
            <div class="row mb-2">
                {% for bug in bugs %}
                    <div class="col-md-6">
                        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary">
                                    {{ bug.author }}
                                </strong>
                                <span class="badge badge-primary views-btn">
                                    Views
                                    <span class="badge badge-light">
                                        {{ bug.views }}
                                    </span>
                                </span>
                                <h3 class="mb-0">
                                    <a class="text-dark" href="#">
                                        {{ bug.title }}
                                    </a>
                                </h3>
                                <div class="mb-1 text-muted">
                                    {{ bug.created_date| date:"D j Y " }}
                                </div>
                                <p class="card-text mb-auto">
                                    {{ bug.description|truncatechars:50 }}
                                </p>
                                <a href="{% url 'preview_bug' bug.id %}">
                                    <button type="button" class="btn btn-info btn-sm mt-3">
                                        View Bug
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        {% comment %}  <---------- FEATURES ----------> {% endcomment %}

        <div class="tab-pane fade" id="Feature" role="tabpanel" aria-labelledby="Feature-tab">
            <p class="lead text-muted tab-display">
                All our amazing features are listed below. If you wish to purchase an amazing feature simply add to your cart and purchase through the website. Add any comment you have about the feature for others to see.
            </p>
            <div class="row mb-2">
                {% for feature in features %}
                    <div class="col-md-6">
                        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary">{{ feature.author }}</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#">{{ feature.title }}</a>
                            </h3>
                            <div class="mb-1 text-muted">{{ feature.created_date| date:"D j Y " }}</div>
                            <p class="card-text mb-auto">{{ feature.description|truncatechars:50 }}</p>
                            <a href="{% url 'preview_feature' feature.id %}">
                                <button type="button" class="btn btn-info btn-sm mt-3">
                                    View post
                                </button>
                            </a>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}