{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}
{% block content %}

<div class="main-display">
    <div class="main-content">
        <h2>Welcome to Developers</h2>
        <p class="mt-3">Developers was created to allow users to track / view bugs within a company that are then posted onto a card for others to view and comment on and help you find a solution. 
        <br>
        <br>
        Looking for a new feature? We have a large selection available for purchasing that have been created by other users.</p>
        <ul class="navbar-nav mr-auto main-nav">
            <li class="nav-item">
                <a class="nav-link indexBtn" href="{% url 'login' %}">
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link indexBtn" href="{% url 'register' %}">
                    <i class="far fa-registered"></i>
                    Register
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}