{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="main-display">
    <div class="container login-register">
        <h4>Password Reset</h4>
        <form method="POST">
            <p>Please enter email address below..</p>
            {{ form.email.errors }}
            <p>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary">Reset password</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}