{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Add Feature{% endblock %}

{% block content %}
<div class="container">
    <div class="container text-center">
        <form method="POST">
            <h2>Add Feature</h2>
            <hr>
            <p class="lead text-muted"> 
                Are you sure you want to add this feature? If you process this feature, it will be added to your profile where you can update the author with the progress your making and change the status once completed ?
            </p>
            {% csrf_token %}
            
            {{ form|crispy}}

            <a href="{% url 'home' %}" role="button" class="btn btn-danger">
                No, return to home!
            </a>
            <button type="submit" class="btn btn-success">
            Yes, Add to profile! </button>
        </form>
    </div>
</div>

{% endblock %}