{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Feature Preview
{% endblock %}
{% block content %}
<div class="container">
    <div class="card mt-2">
        <div class="card-header text-center">
            <h4 class="card-preview-title mt-1">
                <i class="fas fa-laptop-code"> </i>
                {{ feature|capfirst }}
            </h4>
            <span class="mt-2">Created : {{ feature.created_date|date:"F d, Y" }}</span>
            <br>
            <span class="mt-2">Created By : {{ feature.author|capfirst }}</span>
            <br>
            <span class="mt-2">Price : £{{ feature.price }}</span>
            <br>
            <button class="badge badge-success">Upvotes
                <span class="badge badge-light">
                            {{ feature.upvotes }}
                    </span>
            </button>
            <button class="badge badge-primary">Views
                <span class="badge badge-light">
                            {{ feature.views }}
                    </span>
            </button>
        </div>
        <div class="card-body preview-body">
            <p class="card-text">{{ feature.description }}</p>
        </div>
        <div class="card-footer text-muted">
            <div>
                <form class='d-inline' method="POST" action="{% url 'add_to_cart' feature.id %}">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-success med-margin" type="submit">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        Add to Cart
                    </button>
                </form>
                <a href="{% url 'upvote_feature' feature.id %}" class="btn btn-sm btn-info med-margin">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    Upvote Feature</a>
                <button type="button" id="profile-edit" class="btn btn-primary btn-sm med-margin"
                        data-toggle="collapse" data-target="#collapseComment" aria-expanded="false"
                        aria-controls="collapseComment">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                    Leave a Comment
                </button>
            </div>
        </div>
    </div>
        <div class="mt-3">
            <form method="POST" id="collapseComment" class="mt-3 profile-form collapse">
                {% csrf_token %}
                {{ comment|crispy }}
                <button type="submit" class="btn btn-sm btn-primary">Add comment</button>
            </form>
        </div>
        <h4 class="mt-3">Comments</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Author</th>
                <th style=" width: 85%;" scope="col">Comment</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
            <tr>
                <th scope="row">
                    {{ comment.author }}
                </th>
                <td>
                    {{ comment }}
                </td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>


    {% endblock %}


