body{
    padding: 0;
    margin: 0;
}
.account-img {
    width: 150px !important;
    height: 150px !important;
}
.messages-main-wrapper *{
    position:relative;
}
.title-link{
    color: black;
}
.message-box{
    position: absolute;
    width: 92%;
    z-index: 10;
}
.messages-display{
    visibility: hidden;
    transition: opacity 2300ms, visibility 2300ms;
    -webkit-transition: opacity 2300ms, visibility 2300ms;
    opacity: 0;
}
.main-display{
    background-image: linear-gradient(135deg, #fefeff, #6db5d0);
    box-shadow: inset 0 0 16px -4px #000;
    max-height: 500px;
    margin: 0 !important;
}

.marketing {
    text-align: center;
}
.main-icons {
    font-size: 58px;
    margin-top: 20px;
}
.product-device {
    position: absolute;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 15px;
    bottom: 14%;
    left: 10px;
    border-radius: 5px;
}
.bug-wrapper {
    top: -445px;
    left: 221px;
    position: relative;
    width: 530px;
    height: 500px;
}
.product-device-1 {
   top: 80%;
   right: auto;
   bottom: 0;
   left: 79%;
   width: 71px;
   height: 44px;
   transform: rotate(279deg);
   -webkit-transform: rotate(279deg);
   font-size: 23px;
}
.product-device-2 {
    top: 73%;
    right: auto;
    bottom: 0;
    left: 53%;
    width: 71px;
    height: 44px;
    -webkit-transform: rotate(308deg);
    transform: rotate(299deg);
    font-size: 31px;

}
.product-device-3 {
   top: 57%;
   right: auto;
   bottom: 0;
   left: 36%;
   width: 71px;
   height: 44px;
   -webkit-transform: rotate(350deg);
   transform: rotate(347deg);
   font-size: 43px;
}
.product-device-4 {
    top: 31%;
    right: auto;
    bottom: 0;
    left: 38%;
    width: 71px;
    height: 44px;
    -webkit-transform: rotate(388deg);
    transform: rotate(388deg);
    font-size: 55px;
}
.product-device-5 {
    top: 11%;
    right: auto;
    bottom: 0;
    left: 55%;
    width: 71px;
    height: 44px;
    -webkit-transform: rotate(388deg);
    transform: rotate(418deg);
    font-size: 65px;
}

.media-icons a{
    margin: 0 5px;
    font-size: 50px;
    color: #343a40;
}
.media-icons a:hover{
    color: #81b7f9;
}
.nav-media a:hover{
    color: #81b7f9;
}
.nav-media a{
    margin: 0 5px;
    font-size: 30px;
    color: #343a40;
}
.nav-media {
    margin: 0;
}
.box-one {
    width: 60%;
    height: 266px;
    border-radius: 21px;
}
.main-images {
    background-repeat: no-repeat;
    background-size: contain;
}
.main-content{
    margin: auto;
    font-size: 20px;
    padding-right: 10%;
    max-width: 800px;
}
.login-register{
    margin: 5% 0 0 10%;
    width: 50%;
    float: left;

}
.indexBtn a{
    color: #fff;
}
.tab-display{
    width: 75% !important;
    margin: 20px auto;
}
.profile-form {
    display: none;
}
.delete_title {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
    margin: 0 2px;
}
.post-title {
    text-decoration: underline;
}
.post-date {
    font-size: 14px;
}
.post-text {
    font-size: 14px;
}
.card-body {
    line-height: 20px;
    padding: .8rem;
    min-height: 187px;
}
.right-corner {
    position: absolute;
    top: 13px;
    right: 20px;
}
.status-tabs {
    margin: 0px 20px 10px 20px;
}
.main-nav li a:hover {
    background-color: #81b7f9;
    border-radius: 10px;
}
.main-nav li a {
    padding-left: 10px !important;
}
.table {
    width: 100%;
}
.top-results {
    margin: auto;
}
.cart-table {
    margin-left: 10%;
}
.cart-badge {
    font-size: 13px;
}
.close {
    border-radius: 50%;
}
.displayGraph{
    margin: auto;
    width: 80% !important;
    height: 400px !important;
}
.fa-spinner{
    display:none;
}
.fa-spinner-active {
    display: block;
    margin: 20px auto;
}
input[type=text]:disabled{
    background: #dddddd !important;
}
/* Styling for search button */

.searchbar{
    margin: auto;
    height: 60px;
    background-color: #f8f9fa;
    border-radius: 30px;
    padding: 10px;
    width: 70%;
}

.search_input{
    color: black;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: none;
    width: 60%;
    caret-color:transparent;
    line-height: 40px;
}

.searchbar:hover > .search_input{
    caret-color:black;
}
.searchbar:hover > .search_icon{
    background: white;
    color: black;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
color: black;
}
#payment-form {
    margin-top: 15px;
}

/* MEDIA QUERIES */
@media (max-width: 425px) {
    .bug-wrapper {
        display: none;
    }
    .pill-tabs {
        width: 100%;
        text-align: center;
    }
    .media-body a {
        margin-top: 3px;
    }
    .media-display {
        display: block;
        margin: auto;
    }
    .media {
       margin-left: 20px;
    }
    .account-img {
        display: none;
    }
    .text-secondary {
        margin-bottom: 12px;
    }
    .displayGraph {
        width: 100% !important;
    }
    .login-register {
        width: 90%;
        margin: auto;
    }
    .form-text {
        font-size: 10px;
        color: black !important;
    }
    .table td, .table th {
        padding: .25rem;
    }
    .med-margin{
        margin-top: 3px;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .bug-wrapper {
        left: -180px;
    }
}
@media (min-width: 992px) {
    .bug-wrapper {
        left: -75px;
        top: -515px;
    }
}
@media (min-width: 1200px) {
    .bug-wrapper {
        left: 110px;
        top: -466px;
    }
}