body{
    padding: 0;
    margin: 0;
}
.account-img {
    width: 150px !important;
    height: 150px !important;
}

.main-display{
    background-image: url("/static/media/main.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 20px !important;
}
.main-content{
    margin: 5% 0 0 10%;
    font-size: 20px;
    padding-right: 10%;
    max-width: 600px;
}
.login-register{
    margin: 5% 0 0 10%;
    width: 50%;
    float: left;

}
.indexBtn {
    color: black;
    width: 120px;
}
.tab-display{
    width: 75% !important;
    margin: 20px auto;
}
.profile-form {
    display: none;
}
.delete_title {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
    margin: 0 2px;
}
.post-title {
    text-decoration: underline;
}
.post-date {
    font-size: 14px;
}   
.post-text {
    font-size: 14px;
}
.card-body {
    line-height: 20px;
    padding: .8rem;
    height: 187px;
}
.right-corner {
    position: absolute;
    top: 13px;
    right: 20px;
}
.card-preview-title {
    margin-top: -25px;
}
.status-tabs {
    margin: 0px 20px 10px 20px;     
}
.main-nav li a:hover {
    background-color: rgba(34, 34, 34, 0.151); 
    border-radius: 10%;
}
.table {
    width: 80%;
}
.top-results {
    text-align: center;
    margin: auto;
}
.cart-table {
    margin-left: 10%;
}
.cart-badge {
    font-size: 13px;
}
.close {
    border-radius: 50%;
}
.displayGraph{
    margin: auto;
    width: 80% !important;
    height: 400px !important;
}
.fa-spinner{
    display:none;
}
.fa-spinner-active {
    display: block;
    margin: 20px auto;
}
/* Styling for search button */
  
   .searchbar{
    margin: auto;
    height: 60px;
    background-color: #f8f9fa;
    border-radius: 30px;
    padding: 10px;
    width: 70%;
    }

    .search_input{
    color: black;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: none;
    width: 60%;
    caret-color:transparent;
    line-height: 40px;
    }

    .searchbar:hover > .search_input{
        caret-color:black;
    }
    .searchbar:hover > .search_icon{
    background: white;
    color: black;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    color: black;
    }
    #payment-form {
        margin-top: 15px;
    }

    /* MEDIA QUERIES */
    @media (max-width: 425px) { 
        .pill-tabs {
            width: 100%;
            text-align: center;
        }
        .media-body a {
            margin-top: 3px;
        }
        .media-display {
            display: block;
            margin: auto;
        }
        .media {
           margin-left: 20px;
        }
        .account-img {
            display: none;
        }
        .text-secondary {
            margin-bottom: 12px;
        }
        .displayGraph {
            width: 100% !important;
        }
        .login-register {
            width: 90%;
            margin: auto;
        }
        .form-text {
            font-size: 10px;
            color: black !important;
        }
    }
