{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
//<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
//]]>


</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block title %}
Checkout
{% endblock %}

{% block content %}
<div class="container">
    <h4>Checkout</h4>
    <form role="form" method="POST" id="payment-form" action="{% url 'checkout' %}">
        <div id="credit-card-errors" style="display: none;">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>
        <div class="row text-center">
            <div class="address-form col col-12 col-md-6 .col-lg-6">
                <fieldset class="paymentform">
                    <legend>Your Details</legend>
                    {{ order_form|crispy }}
                </fieldset>
            </div>
            <div class="payment-form col-12 col-md-6 col-lg-6">
                <fieldset class="paymentform">
                    <legend>Payment form</legend>
                    {{ payment_form|crispy }}
                    {% csrf_token %}
                    <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit"
                           value="Submit Payment">
                </fieldset>
            </div>
        </div>
    </form>
</div>
{% endblock %}
